.menu-box{
    margin-top: 170px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    min-width: 340px;
    max-width: 510px;
}