.visibility-btn-box{
    color: #FFFFFF;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-right: 5px;
}

.visibility-btn{
    background-color: #1a1a1a;
    color: #FFFFFF;
    border: 0;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.visibility-btn:hover{
    box-shadow: 0 0 0 5px #1a1a1a, 0 0 0 8px #1e90ff;
    transition: 0.6s;
}