.main-info-box{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 90vw;
    text-align: center;
    align-items: center;
}

.main-info-text{
    font-size: 18px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.main-info-icon{
    margin-top: 50px;
    transform: scale(3)
}