.menu-btn{
    margin: 10px 10px 10px 10px;
    color: #ffffff;
    text-decoration: none;
    width: 150px;
    height: 150px;
    background-color: #333333;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    border-radius: 15px;
    font-family: 'Inter Tight', sans-serif;
    transition: 0.6s;
}

.menu-btn:hover{
    box-shadow: 0 0 0 5px #1a1a1a, 0 0 0 8px #1e90ff;
    transition: 0.6s;
}

.icon-background {
    margin-top: 25px;
    width: 40px;
    height: 40px;
    background-color: #1e90ff;
    border-radius: 40px;
}

.menu-btn-icon{
    transform: scale(1);
    padding: 8px 8px;
}

.menu-btn-text{
    height: 46px;
    text-align: center;
    font-size: 1.15rem;
    line-height: 1.25;
    margin-top: 20px;
    display: flex;
    align-items: center;
}

@media only screen and (max-width: 350px) {
    .menu-btn {
        width: 120px;
        height: 120px;
    }

    .menu-btn-text{
        font-size: 1rem;
        margin-top: 10px;
    }
}

.user-added-box{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 90vw;
    text-align: center;
    align-items: center;
}

.user-added-text{
    font-size: 18px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.user-added-icon{
    margin-top: 50px;
    transform: scale(3)
}